body {
height: 100%;
margin: 0;
text-align: center;
width: 100%;
}

h1 {
font-size: 60px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: red;
  text-align: center;
}

h2 {
font-size: 48px;
}

.hero {
padding: 250px 0;
margin: 30px;
  background-image: url("https://ftp3.syscom.mx/usuarios/fotos/BancoFotografiasSyscom/SYSCOM/LONAVV/LONAVV-l.png");
  background-size: cover;
}

p {
font-size: 2rem;
}

.hero a {
color: #00FFAA;
font-size: 24px;
text-decoration: none;
}

div.image {
   content:url(http://imgur.com/a/qq98q);
}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline;
}
